
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
  
.dashboard {
    width: 1500px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3.5, 10fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: 
    " ... ... ... timeAndDate"
    " sidebar username currentbalance savings"
    " sidebar history history addCard"
    " sidebar addMoney withdrawMoney sendMoney"
}

.timeDate {
    grid-area: timeAndDate;
    border: 1px solid black;
}

.Headers {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  
.userAccount {
    font-family: Arial, Helvetica, sans-serif;
}

.userName {
    background-image: url();
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    grid-area: username;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    border: 1px solid black;
}
  
.currentBalance {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    grid-area: currentbalance;
}

.totalSavings {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    grid-area: savings;
} 
.addMoneyBtn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: addMoney;
    height: 50px;
} 
.withdrawMoney {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    height: 50px;
    cursor: pointer;
    grid-area: withdrawMoney;
}
.transHistory {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: history;
}
.sendMoney {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: sendMoney;
}
.addCard {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: addCard;
}
  
.addMoneyBtn:hover, .withdrawBtn:hover, .transHistory:hover, .sendMoney:hover, .addCard:hover {
    background-color: #001f4d;
}

.sideBarBtn {
    display: flex;
    width: 300px;
    flex-direction: column;
    grid-area: sidebar;
    justify-content: space-evenly;
    border-right: 1px solid black;
}
  
.btn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #001f4d;
}
  