
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  .dashboard {
    border: 1px solid black;
    border-radius: 30px;
    width: 1500px;
    display: grid;
    justify-content: center;
    padding: 60px;
    grid-template-columns: repeat(4, 10fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    " ... ... ... timeAndDate"
    " sidebar username history history"
    " sidebar currentbalance savings addCard"
    " sidebar addMoney withdrawMoney sendMoney"
  }

.timeDate {
    grid-area: timeAndDate;
    border: 1px solid black;
}


.Headers {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .userName {
    font-size: 24px;
    color: #003366;
    margin-bottom: 20px;
    grid-area: username;
    text-align: center;
    font-size: 30px;
  }
  
  .currentBalance {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    grid-area: currentbalance;
  }

.totalSavings {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    grid-area: savings;
} 
.addMoneyBtn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: addMoney;
} 
.withdrawBtn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: withdrawMoney;
}
.transHistory {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: history;
}
.sendMoney {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: sendMoney;
}
.addCard {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    grid-area: addCard;
}
  
.addMoneyBtn:hover, .withdrawBtn:hover, .transHistory:hover, .sendMoney:hover, .addCard:hover {
    background-color: #001f4d;
}

.sideBarBtn {
    display: flex;
    width: 300px;
    flex-direction: column;
    grid-area: sidebar;
    justify-content: space-around;
}
  
.btn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #001f4d;
}
  