body{
  background-color: pink;
}
.navContainer ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 60px;
  align-items: center;
}
#headerLogo {
  display: flex;
  align-items: center;
}
#imgLogo {
  border: 1px solid black;
  height: 50px;
  width: 100px;
}
.navContainer li {
  padding: 20px;
}
input {
  display: flex;
  justify-content: center;
}



@tailwind base;
@tailwind components;
@tailwind utilities;