body{
  background-color: pink;
}
.navContainer {
  border: 1px solid red;
}
.navContainer ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}
.navContainer li {
  padding: 20px
}
input {
  display: flex;
  justify-content: center;
}

.dashNav {
 border: 1px solid red
}
@tailwind base;
@tailwind components;
@tailwind utilities;