body{
  background-color: pink;
}
.navContainer ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}
.navContainer li {
  padding: 20px
}
@tailwind base;
@tailwind components;
@tailwind utilities;